.header {
  background-color: rgba(0, 0, 0, 0.86);
  color: var(--clrs-white-);
  font-size: 2rem;
  padding: 20px 13px;
  font-family: 'TheMix Caps', sans-serif;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.nav-bar li a {
  padding: 10px 30px;
  font-size: 2.4rem;
  letter-spacing: 0.5px;
  display: inline-block;
}

.logo {
  width: 120px;
}

.ham-menu {
  display: none;
}

.join-btn {
  background-color: var(--clrs-blue-);
  cursor: pointer;
  border-radius: 60px;
}

@media (min-width: 1170px) and (max-width: 1416px) {
  .nav-bar li a {
    padding: 10px 15px;
    font-size: 2.2rem;
  }

  .logo {
    width: 90px;
  }
}

@media (min-width: 1010px) and (max-width: 1170px) {
  .nav-bar li a {
    padding: 10px;
    font-size: 1.9rem;
  }

  .logo {
    width: 80px;
  }
}

@media (max-width: 1010px) {
  .nav-bar {
    align-items: center !important;
    justify-content: space-between !important;
  }

  .header ul {
    display: none; /* hide the navigation links */
  }

  .ham-menu {
    display: block;
    width: 50px;
    height: 35px;
  }

  .logo {
    width: 75px;
  }
}
