.testimonial-section {
  background-color: whitesmoke;
  padding: 50px;
}
.testimonial-section h2 {
  text-align: center;
  font-size: 6rem;
  font-weight: bold;
  letter-spacing: -2px;
  margin-bottom: 60px;
}

.testimonial-section article {
  box-shadow: 2px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.testimonial-section article:first-child:hover {
  box-shadow: inset 2px 0px 20px rgba(0, 0, 0, 0.1);

  background-color: rgb(228, 241, 250);
}

.testimonial-section article:nth-child(2):hover {
  box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(238, 252, 246);
}

.testimonial-section article:nth-child(3):hover {
  box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(228, 244, 250, 0.793);
}

.testimonial-section article:nth-child(4):hover {
  box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(250, 228, 246);
}

.testimonial-section article:nth-child(5):hover {
  box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(228, 250, 236);
}

.testimonial-section h2 + div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}

.testimonial-section article {
  max-width: 400px;
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.testimonial-section article img {
  width: 150px;
  margin: 0 auto;
  height: max-content;
  align-self: flex-start;
  object-fit: cover;
  margin-bottom: 5px;
}

.testimonial-section article h3 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.testimonial-section article p {
  color: var(--clrs-gray-);
  font-weight: bold;
  font-size: 2rem;
}

@media (max-width: 1650px) {
  .testimonial-section h2 + div {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 30px;
  }

  .testimonial-section h2 {
    font-size: 5rem;
  }
}

@media (max-width: 1200px) {
  .testimonial-section h2 + div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
  }

  .testimonial-section article {
    max-width: 1200px;
  }

  .testimonial-section h2 {
    font-size: 4rem;
    margin-bottom: 40px;
  }
}

@media (max-width: 800px) {
  .testimonial-section h2 + div {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }

  .testimonial-section article {
    max-width: 800px;
  }

  .testimonial-section h2 {
    font-size: 3rem;
    margin-bottom: 40px;
  }
}
